PORT=5001
MONGODB_CONNECTIONSTRING=mongodb+srv://vietinvesttvn_db_user:pAmWUcHrGfVG3HbQ@cluster0.jobqqci.mongodb.net/?appName=Cluster0
CLIENT_URL=http://localhost:5173

ACCESS_TOKEN_SECRET=76e81dc785cd07f7148bc15201298065730b302a8440a84ade8899e1bb848187d52ef62a39cd9ae719b28a9af4bac21ee1a06725e528ad40abba2827588ad790
ADMIN_REGISTRATION_SECRET=change-me-for-admin-signup
GOOGLE_CLIENT_ID=637870072895-qfg2rahlg6rnt0id841gqev6eo5u53sf.apps.googleusercontent.com
CLOUDINARY_CLOUD_NAME=dkduxbdxx
CLOUDINARY_API_KEY=281937684864564
CLOUDINARY_API_SECRET=CL1sFCqnw-FnGg8f2ozmBQ4s46I
